<% @letters.each do |letter| %>
<p><%= letter %></p>
<% end %>

<form method="post" action="/score">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
<input type="text" name="answer" placeholder="balancoire">
<input type="submit" placeholder="Envoyer">